<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.wx.entity.Line" alias="Line"/>
        <typeAlias type="com.wx.entity.User" alias="User"/>
        <typeAlias type="com.wx.entity.Packages" alias="Packages"/>
    </typeAliases>
</configuration>